{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block title %}How frequent is this password?{% endblock %}

{% block content %}
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <h3>DMIA Production ML: How frequent is this password?</h3>
        </div>

        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>
                    <small>Kaggle competition:
                        <a href="https://www.kaggle.com/c/dmia-production-ml-2021-1-passwords/"> Link </a>
                    </small>
                </p>
                <form method="POST">
                    {{ form.csrf_token() }}
                    {{ wtf.form_field(form.password, class='form-control', placeholder='Input password here') }}
                    {{ wtf.form_field(form.submit, class='btn btn-primary btn-block mt-2') }}
                </form>
                <form>
                    <div class="form-row mt-5">
                        <div class="col">
                            <label for="password_id">Password</label>
                            <input type="text" class="form-control" id="password_id" placeholder="{{ password }}"
                                readonly>
                        </div>
                        <div class="col">
                            <label for="prediction_id">Prediction</label>
                            <input type="text" class="form-control" id="prediction_id" placeholder="{{ prediction }}"
                                readonly>
                        </div>
                    </div>
                </form>
            </blockquote>
        </div>
    </div>
</div>
{% endblock %}